@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-transition {
    transition: left 1s, top 1s;
}

.unknown-div-transition {
    transition: opacity 1s;
}

.text-stroke-effect {
    -webkit-text-stroke: 1px white;
    font-weight: 1000;
}

.bottom-text-radius {
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
}

.selected-div-transition {
    transition: width 1s;
}
